@import "../../styles/variables";

.container {
  margin: 0 auto;
  max-width: 1084px;
}

@media (max-width: $tablet - .5) {
  .container {
    padding: {
      left: 10px;
      right: 10px;
    }
  }
}

@media (min-width: $tablet) {
  .container {
    padding: {
      left: 20px;
      right: 20px;
    }
  }
}
