.component {
  display: flex;
  flex-grow: 1;
}

.icon,
.input {
  height: $icon-span;
  width: $icon-span;
}

.icon {
  border-radius: 50%;
  border: $grey-line;
  margin-right: 15px;
  transition: border .3s;

  &:not(:hover) {
    background-color: $white;
  }
}

.checked {
  border: 5px solid $blue-denim;
}

.input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.label {
  text-transform: capitalize;
}