// COLORS
// Format: $hue-name. See https://www.color-blindness.com/color-name-hue/ for reference
$black:rgb(0, 0, 0); // #000;
$blue-denim: rgb(25, 118, 210); // #1976d2;
$grey-empress : rgb(117, 117, 117); // #757575;
$grey-silver : rgb(197, 197, 197); // #c5c5c5;
$white-smoke:rgb(245, 245, 245); // #f5f5f5;
$white:rgb(255, 255, 255); // #fff;
