// RESETS
html {
  * {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Arial;
    font-size: 14px;
  }

  body,
  fieldset
  input,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  ul {
    margin: 0;
  }

  fieldset,
  legend,
  ol,
  ul {
    padding: 0;
  }

  fieldset {
    border: none;
  }

  ol,
  ul {
    list-style-type: none;
  }
}
