.component {
  display: flex;
  flex-direction: column;
}

.label{
  line-height: 1;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.input {
  border-radius: 3px;
  border: $grey-line;
  padding: 8px 15px;

  &::placeholder {
    color: $grey-empress;
  }
}