.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.line {
  border-top: 4px solid $blue-denim;
  margin-bottom: 8px;
}

.app {
  background-color: $white-smoke;
  border-radius: 0 0 10px 10px;
  border: $grey-line;
  display: flex;
}

.divider {
  flex-basis: 60px;
  position: relative;

  &:after {
    background-color: $grey-silver;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@include phone {
  .app {
    flex-direction: column;
    padding: 30px;
  }

  .divider {
    &:after {
      height: 1px;
      width: calc(100% - 30px);
    }
  }
}
@include tablet {
  .app {
    padding: 60px;
  }

  .editor,
  .widget {
    flex-basis: calc(50% - 30px);
  }

  .divider {
    &:after {
      height: calc(100% - 30px);
      width: 1px;
    }
  }
}


